.Slider {
    overflow: hidden;
} 
.myHeroSlider .customDots {
    top: 94.5%;
    left: 2%;
}

.myHeroSlider .customDots li {
    position: relative;
    margin-right: 60px;
}

.myHeroSlider .customDots li button::before {
    position: absolute;
    width: 70px;
    height: 5px;
    border-radius: 0%;
    text-indent: -9999px;
    background-color: white;
}

.myHeroSlider img {
    width: 100%;
}
