.slick-center {
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    transform: scale(1.25);
    margin-top: -16px;
}

.slick-list {
    height: 375px;
    padding: 40px 60px !important;
    text-align: center;   
}

.center .slick-list {
    margin: 0 -105px;
    z-index: 1;
}

.slick-list img {
    width: 100%;
}
.next {
    position: absolute;
    left: 93%;
    bottom: 260px;
    z-index: 2;
}
.prev {
    position: absolute;
    top: 220px;
    z-index: 2;
}
